<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkyStoreMarket</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    {% include 'catalog/includes/inc_main_menu.html' %}
</div>

<div class="bg-body-tertiary pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto border-top border text-center">
    <h1 class="display-4">SkyStoreMarket</h1>
    <hr>
</div>
<div class="container mt-4">

    {% block content %}
    {% endblock %}
    {% include 'catalog/includes/inc_footer_menu.html' %}


</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>